<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.0/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Goat converters">
            <directory>./tests/Converter</directory>
        </testsuite>
        <testsuite name="Goat drivers">
            <directory>./tests/Driver</directory>
        </testsuite>
        <testsuite name="Goat hydrators">
            <directory>./tests/Hydrator</directory>
        </testsuite>
        <testsuite name="Goat mapper">
            <directory>./tests/Mapper</directory>
        </testsuite>
        <testsuite name="Goat query builder">
            <directory>./tests/Query</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>./</directory>
            <exclude>
                <directory>./benchmarks</directory>
                <directory>./cache</directory>
                <directory>./compat</directory>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <!--
        <env name="DRUPAL7_MYSQL_DSN" value="pgsql://192.168.57.102/some_database" />
        <env name="DRUPAL7_MYSQL_PATH" value="/var/www/my-drupal-site/webroot" />
        <env name="DRUPAL7_MYSQL_PASSWORD" value="some_password" />
        <env name="DRUPAL7_MYSQL_USERNAME" value="some_user" />
        <env name="DRUPAL7_PGSQL_DSN" value="mysql://192.168.57.102/some_database" />
        <env name="DRUPAL7_PGSQL_PATH" value="/var/www/my-drupal-site/webroot" />
        <env name="DRUPAL7_PGSQL_PASSWORD" value="some_password" />
        <env name="DRUPAL7_PGSQL_USERNAME" value="some_user" />
        <env name="DRUPAL8_MYSQL_DSN" value="pgsql://192.168.57.102/some_database" />
        <env name="DRUPAL8_MYSQL_PATH" value="/var/www/my-drupal-site/webroot" />
        <env name="DRUPAL8_PGSQL_DSN" value="mysql://192.168.57.102/some_database" />
        <env name="DRUPAL8_PGSQL_PATH" value="/var/www/my-drupal-site/webroot" />
        <env name="EXT_PGSQL_DSN" value="ext_pgsql://192.168.57.102/some_database" />
        <env name="EXT_PGSQL_PASSWORD" value="some_password" />
        <env name="EXT_PGSQL_USERNAME" value="some_user" />
        <env name="PDO_MYSQL_DSN" value="pdo_mysql://192.168.57.102/some_database" />
        <env name="PDO_MYSQL_PASSWORD" value="some_password" />
        <env name="PDO_MYSQL_USERNAME" value="some_user" />
        <env name="PDO_PGSQL_DSN" value="pdo_pgsql://192.168.57.102/some_database" />
        <env name="PDO_PGSQL_PASSWORD" value="some_password" />
        <env name="PDO_PGSQL_USERNAME" value="some_user" />
        <env name="ENABLE_SECURITY" value="0" />
         -->
    </php>
</phpunit>
